{% extends "mlb/base.html" %}

{% block header %}

<div class="body_boarder">
    <div class="top">
        <h2><a href="{% url 'mlb:index' %}">MLB HOME PAGE</a></h2>
    </div>

    <div class='jumbotron' align="center">
        <h1>List of all Pictures</h1>
    </div>



</div>

    {% endblock header %}


    {% block content %}
{% load static from staticfiles %}
    <div class="add_pic" align="right">
        <h3>
            <a href="{% url 'mlb:add_picture' %}">Add picture</a>
        </h3>
    </div>

    {% for picture in pictures %}

    <div class="container-fluid">
        <img src="{% static " image/skull.jpg" %}" alt="Picture" />
        <div class="col-md-4">
            <h3>
                <a href="{% url 'mlb:picture' picture.id%}">{{ picture.name }}</a>
            </h3>
            {% if picture.image %}
            <div class="thumbnail">
                <img src="{{picture.image.url}}" alt="HTML5 Icon" style="width:100%">
                <div class="caption" align="center">
                    <h2>{{ picture }}</h2>
                {% endif %}
                </div>
            </div>
        </div>
    </div>


    {% endfor %}


    {% endblock content %}

