{% extends "mlb/base.html" %}

{% block header %}

<h3><a href="{% url 'mlb:teams' %}">MLB TEAM PAGE</h3>

<div class='jumbotron'>
    <h1>List of all players on the {{team.full_name}}</h1>
</div>

{% endblock header %}

<p>TEAMS</p>

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Player Name</th>
            <th scope="col">League</th>
            <th scope="col">Games</th>
            <th scope="col">Tav</th>
            <th scope="col">VORP</th>
            <th scope="col">FRAA</th>
            <th scope="col">BWARP</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}
        <tr>
            <th scope="row"><a href="{% url 'mlb:players' %}">{{player}}</a></th>
            <td>{{player.league}}</td>
            <td>{{player.games}}</td>
            <td>{{player.Tav}}</td>
            <td>{{player.VORP}}</td>
            <td>{{player.FRAA}}</td>
            <td>{{player.BWARP}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}