{% extends "mlb/base.html" %}

{% block header %}


<div class="body_boarder">

        <div class="top">
            <h2><a href="{% url 'mlb:index' %}">MLB HOME PAGE</a></h2>
        </div>

        <div class='jumbotron' align="center">
            <h1>List of all teams</h1>
        </div>
  
</div>

    {% endblock header %}

    {% block content %}

    <div class="body_table">
        <ul>

            {% for team in teams %}

            <h3>
                <a href="{% url 'mlb:team' team.name %}">{{ team.full_name }}</a>
            </h3>

            {% endfor %}

        </ul>
    </div>

    {% endblock content %}
